.mat-list-icon {
    color: rgba(0, 0, 0, 0.54);
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    background-color: blueviolet;
  }
  section {
    display: table;
    background-color: aqua;
    min-width: 500px;
    
  }